@font-face {
    font-family: 'Bits';
    src: url('Bits.ttf') format('truetype');
  }
* {
    margin:0 auto;
    padding: 0;
    border: 0;
}
body {
    background: #000;
    min-width: 900px;
}

vermelho {
    color: #0f0;
}

verde {
    color: #0f0;
}

.main {
    width: 800px;
    height: 200px;
    background: #f00;
    overflow: hidden;
    font-family: Bits;
    margin-top: 100px;
    animation: pulsar 2s infinite alternate linear;
}
.rolo {
    width: 800px;
    overflow: hiden;
}
.bet {
    width: 800px;
    height: 200px;
    background: #F00;
    float: left;
    
}

.col1, .col2, .col3, .col4 {
    width: 200px;
    height: 600px;
    float: left;
}
.col1{
    transform: translateY(-5253px);
    transition: 4s ease-out;
}
.col2{
    transform: translateY(-6060px);
    transition: 4.6s;
}
.col3{
    transform: translateY(-6868px);
    transition: 5.2s;
}
.col4{
    transform: translateY(-10100px);
    transition: 7.5s;
}

.bloco {
    width: 196px;
    height: 196px;
    background: #f00;
    border: 3px solid #f00;
}
.bloco h1{
    transition: .2s linear;
    transition-delay: .1s;
    padding: 40px;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
}
.limite1, .limite2 {
    position: relative;
    left: 0;
    background: #000;
    width: 800px;
    height: 200px;
    z-index: 1;
}
.limite2 {
    margin-top: 200px;
}

#moeda, #jogar, #premio {
    width: 100%;
    padding: 20px 0px;
    font-size: 80px;
    text-align: center;
    transform: translateY(50px);
    cursor: pointer;
    color: beige;
    font-family: Bits;
}
#moeda {
    padding-bottom: 100px;
}
#mute{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    color: beige;
    font-family: Bits;
}
#premio {
    font-size: 70px;
    width: 400px;
}
.ganhou {
    position: fixed;
    width: 700px;
    height: 600px;
    background: #ffcc00ff;
    margin-left: -350px;
    margin-top: -300px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: .6s ease-out;
}
.ganhou h1 {
    width: 600px;
    color: #F00;
    font-family: Bits;
    font-size: 150px;
    text-align: center;
    margin-top: 120px;
}
@keyframes girar {
    from{}
    to{
        transform: translateY(-600px);
    }
}
@keyframes pulsar {
    from {
        -webkit-box-shadow: 6px -12px 300px -20px  #f00;
        -moz-box-shadow: 6px -12px 300px -20px  #f00;
        box-shadow: 6px -12px 300px -20px  #f00;
    }
    to{
        -webkit-box-shadow: 6px -12px 300px -60px  #f00;
        -moz-box-shadow: 6px -12px 300px -60px  #f00;
        box-shadow: 6px -12px 300px -60px  #f00;
    }
}